
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item-2-5jz {
  box-sizing: border-box;
  padding-bottom: 1.9rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #cc5757;
}
.item-2-5jz .topbar-byE {
  margin: 0rem 0rem 1.686rem 0rem;
  width: calc(100% - 0rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-2-5jz .topbar-byE .auto-group-dca8-txL {
  margin: 0rem 3.55rem 0.207rem 0rem;
  height: 8.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-2-5jz .topbar-byE .auto-group-dca8-txL .n-2-DDv {
  margin: 0rem 16.3rem 0.3rem 0rem;
  width: 9.9rem;
  height: 8.6rem;
  position: relative;
  background-size: 100% 115.116%;
  background-position: 0 -0.65rem;
  background-image: url('../assets/n-2-p5S.png');
  flex-shrink: 0;
}
.item-2-5jz .topbar-byE .auto-group-dca8-txL .auto-group-jsuu-5mv {
  margin: 1.6rem 7.5rem 1rem 0rem;
  width: 13rem;
  height: calc(100% - 2.6rem);
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: JejuHallasan, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-17-NYk.png');
  flex-shrink: 0;
}
.item-2-5jz .topbar-byE .auto-group-dca8-txL .auto-group-1noe-X88 {
  margin: 1.6rem 2.9rem 0rem 0rem;
  width: 13rem;
  height: 7.3rem;
  position: relative;
  flex-shrink: 0;
}
.item-2-5jz .topbar-byE .auto-group-dca8-txL .auto-group-1noe-X88 .rectangle-18-quW {
  width: 13rem;
  height: 6.3rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item-2-5jz .topbar-byE .auto-group-dca8-txL .auto-group-1noe-X88 .hizmetlerimiz-z1i {
  width: 8.5rem;
  height: 5.1rem;
  position: absolute;
  left: 2.2rem;
  top: 2.2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: JejuHallasan, 'Source Sans Pro';
}
.item-2-5jz .topbar-byE .auto-group-dca8-txL .auto-group-kjta-2UC {
  margin: 1.6rem 5.4rem 1rem 0rem;
  box-sizing: border-box;
  padding: 2.2rem 2.7rem 0rem 3.5rem;
  height: calc(100% - 2.6rem);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-19-Uzg.png');
  flex-shrink: 0;
}
.item-2-5jz .topbar-byE .auto-group-dca8-txL .auto-group-kjta-2UC .uzman-kadromuz-vJg {
  max-width: 6.8rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: JejuHallasan, 'Source Sans Pro';
}
.item-2-5jz .topbar-byE .auto-group-dca8-txL .auto-group-3gdi-qAk {
  margin: 1.6rem 4.5rem 1rem 0rem;
  box-sizing: border-box;
  padding: 2.2rem 3.05rem 0.5rem 2.25rem;
  height: calc(100% - 2.6rem);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-20-p1S.png');
  flex-shrink: 0;
}
.item-2-5jz .topbar-byE .auto-group-dca8-txL .auto-group-3gdi-qAk .zel-kampanyalar-LtC {
  max-width: 7.7rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: JejuHallasan, 'Source Sans Pro';
}
.item-2-5jz .topbar-byE .auto-group-dca8-txL .auto-group-y3dn-rrY {
  margin: 1.6rem 3.7rem 1rem 0rem;
  width: 13rem;
  height: calc(100% - 2.6rem);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: JejuHallasan, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-21-8WG.png');
  flex-shrink: 0;
}
.item-2-5jz .topbar-byE .auto-group-dca8-txL .auto-group-2po2-Kk8 {
  margin: 1.6rem 0rem 1rem 0rem;
  width: 13rem;
  height: calc(100% - 2.6rem);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: JejuHallasan, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-22-FSL.png');
  flex-shrink: 0;
}
.item-2-5jz .topbar-byE .line-3-9z4 {
  width: 144rem;
  height: 0.207rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-2-5jz .auto-group-i4rz-tRr {
  margin: 0rem 1.8rem 2rem 4.3rem;
  width: calc(100% - 6.1rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item-2-5jz .auto-group-i4rz-tRr .auto-group-apja-paQ {
  margin-right: 11.4rem;
  width: 65.1rem;
  height: 68rem;
  position: relative;
  flex-shrink: 0;
}
.item-2-5jz .auto-group-i4rz-tRr .auto-group-apja-paQ .bir-hastann-evde-alaca-salk-hizmetleri-yelpazesi-olduka-genitir-birey-gerekli-artlar-salad-koulda-hemen-her-konuda-bakm-hizmeti-alabilir-evde-bakm-hizmetleri-unlar-kapsar-salk-hizmetleri-evde-salk-hizmetleri-doktor-ziyaretleri-ila-takibi-yara-bakmtansiyonlm-kan-testleri-gibi-salk-kontrollerini-ierir-bir-doktor-veya-bir-hemire-bireyin-ihtiyalarn-periyodik-olarak-gzden-geirerek-buna-ynelik-bir-bakm-plan-hazrlar-kiisel-bakm-bu-hizmetler-bireylerin-temizlik-giyinme-yemek-yeme-ve-tuvalet-ihtiyalarn-karlamalarna-yardmc-olmay-ierir-ev-temizlii-evde-bakm-hizmeti-kapsamnda-ev-temizlii-amar-ykama-t-gibi-ev-ileriyle-ilgili-yardm-salanabilir-beslenme-hizmetleri-evde-yemek-hazrlama-zeldiyetgereksinimlerine-uygun-besinlerin-salanmas-gibi-hizmetler-bu-kategoride-yer-alr-fiziksel-terapi-ve-rehabilitasyon-evde-fiziksel-terapi-ve-rehabilitasyon-hizmetleri-hareketlilik-sorunlar-olan-bireylere-egzersizler-ve-tedavi-yntemleri-ile-destek-olmay-amalar-zellikle-baz-bireyler-yaralanma-veya-hastalk-sonrasnda-gnlk-hayatlarna-nasl-dneceklerini-dair-yardma-ihtiya-duyabilirler-hastann-hem-fiziksel-hem-de-zihinsel-sal-gz-nne-alnarak-hastaya-uygun-bir-bakm-plan-hazrlanr-sosyal-destek-evde-bakm-hizmetleri-bireylerin-sosyal-balarn-srdrebilmeleri-iin-sosyal-destek-salamay-ierir-bu-destek-sosyal-aktiviteler-arkadalk-salama-ve-topluma-katlm-tevik-etme-gibi-etkinlikleri-ierebilir-bu-hizmetler-genellikle-salk-profesyonelleri-bakm-verenler-veya-zel-salk-hizmeti-salayclar-tarafndan-sunulur-xwW {
  width: 65.1rem;
  height: 33.5rem;
  position: absolute;
  left: 0;
  top: 34.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.item-2-5jz .auto-group-i4rz-tRr .auto-group-apja-paQ .bir-hastann-evde-alaca-salk-hizmetleri-yelpazesi-olduka-genitir-birey-gerekli-artlar-salad-koulda-hemen-her-konuda-bakm-hizmeti-alabilir-evde-bakm-hizmetleri-unlar-kapsar-salk-hizmetleri-evde-salk-hizmetleri-doktor-ziyaretleri-ila-takibi-yara-bakmtansiyonlm-kan-testleri-gibi-salk-kontrollerini-ierir-bir-doktor-veya-bir-hemire-bireyin-ihtiyalarn-periyodik-olarak-gzden-geirerek-buna-ynelik-bir-bakm-plan-hazrlar-kiisel-bakm-bu-hizmetler-bireylerin-temizlik-giyinme-yemek-yeme-ve-tuvalet-ihtiyalarn-karlamalarna-yardmc-olmay-ierir-ev-temizlii-evde-bakm-hizmeti-kapsamnda-ev-temizlii-amar-ykama-t-gibi-ev-ileriyle-ilgili-yardm-salanabilir-beslenme-hizmetleri-evde-yemek-hazrlama-zeldiyetgereksinimlerine-uygun-besinlerin-salanmas-gibi-hizmetler-bu-kategoride-yer-alr-fiziksel-terapi-ve-rehabilitasyon-evde-fiziksel-terapi-ve-rehabilitasyon-hizmetleri-hareketlilik-sorunlar-olan-bireylere-egzersizler-ve-tedavi-yntemleri-ile-destek-olmay-amalar-zellikle-baz-bireyler-yaralanma-veya-hastalk-sonrasnda-gnlk-hayatlarna-nasl-dneceklerini-dair-yardma-ihtiya-duyabilirler-hastann-hem-fiziksel-hem-de-zihinsel-sal-gz-nne-alnarak-hastaya-uygun-bir-bakm-plan-hazrlanr-sosyal-destek-evde-bakm-hizmetleri-bireylerin-sosyal-balarn-srdrebilmeleri-iin-sosyal-destek-salamay-ierir-bu-destek-sosyal-aktiviteler-arkadalk-salama-ve-topluma-katlm-tevik-etme-gibi-etkinlikleri-ierebilir-bu-hizmetler-genellikle-salk-profesyonelleri-bakm-verenler-veya-zel-salk-hizmeti-salayclar-tarafndan-sunulur-xwW .bir-hastann-evde-alaca-salk-hizmetleri-yelpazesi-olduka-genitir-birey-gerekli-artlar-salad-koulda-hemen-her-konuda-bakm-hizmeti-alabilir-evde-bakm-hizmetleri-unlar-kapsar-salk-hizmetleri-evde-salk-hizmetleri-doktor-ziyaretleri-ila-takibi-yara-bakmtansiyonlm-kan-testleri-gibi-salk-kontrollerini-ierir-bir-doktor-veya-bir-hemire-bireyin-ihtiyalarn-periyodik-olarak-gzden-geirerek-buna-ynelik-bir-bakm-plan-hazrlar-kiisel-bakm-bu-hizmetler-bireylerin-temizlik-giyinme-yemek-yeme-ve-tuvalet-ihtiyalarn-karlamalarna-yardmc-olmay-ierir-ev-temizlii-evde-bakm-hizmeti-kapsamnda-ev-temizlii-amar-ykama-t-gibi-ev-ileriyle-ilgili-yardm-salanabilir-beslenme-hizmetleri-evde-yemek-hazrlama-zeldiyetgereksinimlerine-uygun-besinlerin-salanmas-gibi-hizmetler-bu-kategoride-yer-alr-fiziksel-terapi-ve-rehabilitasyon-evde-fiziksel-terapi-ve-rehabilitasyon-hizmetleri-hareketlilik-sorunlar-olan-bireylere-egzersizler-ve-tedavi-yntemleri-ile-destek-olmay-amalar-zellikle-baz-bireyler-yaralanma-veya-hastalk-sonrasnda-gnlk-hayatlarna-nasl-dneceklerini-dair-yardma-ihtiya-duyabilirler-hastann-hem-fiziksel-hem-de-zihinsel-sal-gz-nne-alnarak-hastaya-uygun-bir-bakm-plan-hazrlanr-sosyal-destek-evde-bakm-hizmetleri-bireylerin-sosyal-balarn-srdrebilmeleri-iin-sosyal-destek-salamay-ierir-bu-destek-sosyal-aktiviteler-arkadalk-salama-ve-topluma-katlm-tevik-etme-gibi-etkinlikleri-ierebilir-bu-hizmetler-genellikle-salk-profesyonelleri-bakm-verenler-veya-zel-salk-hizmeti-salayclar-tarafndan-sunulur-xwW-sub-0 {
}
.item-2-5jz .auto-group-i4rz-tRr .auto-group-apja-paQ .bir-hastann-evde-alaca-salk-hizmetleri-yelpazesi-olduka-genitir-birey-gerekli-artlar-salad-koulda-hemen-her-konuda-bakm-hizmeti-alabilir-evde-bakm-hizmetleri-unlar-kapsar-salk-hizmetleri-evde-salk-hizmetleri-doktor-ziyaretleri-ila-takibi-yara-bakmtansiyonlm-kan-testleri-gibi-salk-kontrollerini-ierir-bir-doktor-veya-bir-hemire-bireyin-ihtiyalarn-periyodik-olarak-gzden-geirerek-buna-ynelik-bir-bakm-plan-hazrlar-kiisel-bakm-bu-hizmetler-bireylerin-temizlik-giyinme-yemek-yeme-ve-tuvalet-ihtiyalarn-karlamalarna-yardmc-olmay-ierir-ev-temizlii-evde-bakm-hizmeti-kapsamnda-ev-temizlii-amar-ykama-t-gibi-ev-ileriyle-ilgili-yardm-salanabilir-beslenme-hizmetleri-evde-yemek-hazrlama-zeldiyetgereksinimlerine-uygun-besinlerin-salanmas-gibi-hizmetler-bu-kategoride-yer-alr-fiziksel-terapi-ve-rehabilitasyon-evde-fiziksel-terapi-ve-rehabilitasyon-hizmetleri-hareketlilik-sorunlar-olan-bireylere-egzersizler-ve-tedavi-yntemleri-ile-destek-olmay-amalar-zellikle-baz-bireyler-yaralanma-veya-hastalk-sonrasnda-gnlk-hayatlarna-nasl-dneceklerini-dair-yardma-ihtiya-duyabilirler-hastann-hem-fiziksel-hem-de-zihinsel-sal-gz-nne-alnarak-hastaya-uygun-bir-bakm-plan-hazrlanr-sosyal-destek-evde-bakm-hizmetleri-bireylerin-sosyal-balarn-srdrebilmeleri-iin-sosyal-destek-salamay-ierir-bu-destek-sosyal-aktiviteler-arkadalk-salama-ve-topluma-katlm-tevik-etme-gibi-etkinlikleri-ierebilir-bu-hizmetler-genellikle-salk-profesyonelleri-bakm-verenler-veya-zel-salk-hizmeti-salayclar-tarafndan-sunulur-xwW .bir-hastann-evde-alaca-salk-hizmetleri-yelpazesi-olduka-genitir-birey-gerekli-artlar-salad-koulda-hemen-her-konuda-bakm-hizmeti-alabilir-evde-bakm-hizmetleri-unlar-kapsar-salk-hizmetleri-evde-salk-hizmetleri-doktor-ziyaretleri-ila-takibi-yara-bakmtansiyonlm-kan-testleri-gibi-salk-kontrollerini-ierir-bir-doktor-veya-bir-hemire-bireyin-ihtiyalarn-periyodik-olarak-gzden-geirerek-buna-ynelik-bir-bakm-plan-hazrlar-kiisel-bakm-bu-hizmetler-bireylerin-temizlik-giyinme-yemek-yeme-ve-tuvalet-ihtiyalarn-karlamalarna-yardmc-olmay-ierir-ev-temizlii-evde-bakm-hizmeti-kapsamnda-ev-temizlii-amar-ykama-t-gibi-ev-ileriyle-ilgili-yardm-salanabilir-beslenme-hizmetleri-evde-yemek-hazrlama-zeldiyetgereksinimlerine-uygun-besinlerin-salanmas-gibi-hizmetler-bu-kategoride-yer-alr-fiziksel-terapi-ve-rehabilitasyon-evde-fiziksel-terapi-ve-rehabilitasyon-hizmetleri-hareketlilik-sorunlar-olan-bireylere-egzersizler-ve-tedavi-yntemleri-ile-destek-olmay-amalar-zellikle-baz-bireyler-yaralanma-veya-hastalk-sonrasnda-gnlk-hayatlarna-nasl-dneceklerini-dair-yardma-ihtiya-duyabilirler-hastann-hem-fiziksel-hem-de-zihinsel-sal-gz-nne-alnarak-hastaya-uygun-bir-bakm-plan-hazrlanr-sosyal-destek-evde-bakm-hizmetleri-bireylerin-sosyal-balarn-srdrebilmeleri-iin-sosyal-destek-salamay-ierir-bu-destek-sosyal-aktiviteler-arkadalk-salama-ve-topluma-katlm-tevik-etme-gibi-etkinlikleri-ierebilir-bu-hizmetler-genellikle-salk-profesyonelleri-bakm-verenler-veya-zel-salk-hizmeti-salayclar-tarafndan-sunulur-xwW-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.item-2-5jz .auto-group-i4rz-tRr .auto-group-apja-paQ .bir-hastann-evde-alaca-salk-hizmetleri-yelpazesi-olduka-genitir-birey-gerekli-artlar-salad-koulda-hemen-her-konuda-bakm-hizmeti-alabilir-evde-bakm-hizmetleri-unlar-kapsar-salk-hizmetleri-evde-salk-hizmetleri-doktor-ziyaretleri-ila-takibi-yara-bakmtansiyonlm-kan-testleri-gibi-salk-kontrollerini-ierir-bir-doktor-veya-bir-hemire-bireyin-ihtiyalarn-periyodik-olarak-gzden-geirerek-buna-ynelik-bir-bakm-plan-hazrlar-kiisel-bakm-bu-hizmetler-bireylerin-temizlik-giyinme-yemek-yeme-ve-tuvalet-ihtiyalarn-karlamalarna-yardmc-olmay-ierir-ev-temizlii-evde-bakm-hizmeti-kapsamnda-ev-temizlii-amar-ykama-t-gibi-ev-ileriyle-ilgili-yardm-salanabilir-beslenme-hizmetleri-evde-yemek-hazrlama-zeldiyetgereksinimlerine-uygun-besinlerin-salanmas-gibi-hizmetler-bu-kategoride-yer-alr-fiziksel-terapi-ve-rehabilitasyon-evde-fiziksel-terapi-ve-rehabilitasyon-hizmetleri-hareketlilik-sorunlar-olan-bireylere-egzersizler-ve-tedavi-yntemleri-ile-destek-olmay-amalar-zellikle-baz-bireyler-yaralanma-veya-hastalk-sonrasnda-gnlk-hayatlarna-nasl-dneceklerini-dair-yardma-ihtiya-duyabilirler-hastann-hem-fiziksel-hem-de-zihinsel-sal-gz-nne-alnarak-hastaya-uygun-bir-bakm-plan-hazrlanr-sosyal-destek-evde-bakm-hizmetleri-bireylerin-sosyal-balarn-srdrebilmeleri-iin-sosyal-destek-salamay-ierir-bu-destek-sosyal-aktiviteler-arkadalk-salama-ve-topluma-katlm-tevik-etme-gibi-etkinlikleri-ierebilir-bu-hizmetler-genellikle-salk-profesyonelleri-bakm-verenler-veya-zel-salk-hizmeti-salayclar-tarafndan-sunulur-xwW .bir-hastann-evde-alaca-salk-hizmetleri-yelpazesi-olduka-genitir-birey-gerekli-artlar-salad-koulda-hemen-her-konuda-bakm-hizmeti-alabilir-evde-bakm-hizmetleri-unlar-kapsar-salk-hizmetleri-evde-salk-hizmetleri-doktor-ziyaretleri-ila-takibi-yara-bakmtansiyonlm-kan-testleri-gibi-salk-kontrollerini-ierir-bir-doktor-veya-bir-hemire-bireyin-ihtiyalarn-periyodik-olarak-gzden-geirerek-buna-ynelik-bir-bakm-plan-hazrlar-kiisel-bakm-bu-hizmetler-bireylerin-temizlik-giyinme-yemek-yeme-ve-tuvalet-ihtiyalarn-karlamalarna-yardmc-olmay-ierir-ev-temizlii-evde-bakm-hizmeti-kapsamnda-ev-temizlii-amar-ykama-t-gibi-ev-ileriyle-ilgili-yardm-salanabilir-beslenme-hizmetleri-evde-yemek-hazrlama-zeldiyetgereksinimlerine-uygun-besinlerin-salanmas-gibi-hizmetler-bu-kategoride-yer-alr-fiziksel-terapi-ve-rehabilitasyon-evde-fiziksel-terapi-ve-rehabilitasyon-hizmetleri-hareketlilik-sorunlar-olan-bireylere-egzersizler-ve-tedavi-yntemleri-ile-destek-olmay-amalar-zellikle-baz-bireyler-yaralanma-veya-hastalk-sonrasnda-gnlk-hayatlarna-nasl-dneceklerini-dair-yardma-ihtiya-duyabilirler-hastann-hem-fiziksel-hem-de-zihinsel-sal-gz-nne-alnarak-hastaya-uygun-bir-bakm-plan-hazrlanr-sosyal-destek-evde-bakm-hizmetleri-bireylerin-sosyal-balarn-srdrebilmeleri-iin-sosyal-destek-salamay-ierir-bu-destek-sosyal-aktiviteler-arkadalk-salama-ve-topluma-katlm-tevik-etme-gibi-etkinlikleri-ierebilir-bu-hizmetler-genellikle-salk-profesyonelleri-bakm-verenler-veya-zel-salk-hizmeti-salayclar-tarafndan-sunulur-xwW-sub-2 {
}
.item-2-5jz .auto-group-i4rz-tRr .auto-group-apja-paQ .bir-hastann-evde-alaca-salk-hizmetleri-yelpazesi-olduka-genitir-birey-gerekli-artlar-salad-koulda-hemen-her-konuda-bakm-hizmeti-alabilir-evde-bakm-hizmetleri-unlar-kapsar-salk-hizmetleri-evde-salk-hizmetleri-doktor-ziyaretleri-ila-takibi-yara-bakmtansiyonlm-kan-testleri-gibi-salk-kontrollerini-ierir-bir-doktor-veya-bir-hemire-bireyin-ihtiyalarn-periyodik-olarak-gzden-geirerek-buna-ynelik-bir-bakm-plan-hazrlar-kiisel-bakm-bu-hizmetler-bireylerin-temizlik-giyinme-yemek-yeme-ve-tuvalet-ihtiyalarn-karlamalarna-yardmc-olmay-ierir-ev-temizlii-evde-bakm-hizmeti-kapsamnda-ev-temizlii-amar-ykama-t-gibi-ev-ileriyle-ilgili-yardm-salanabilir-beslenme-hizmetleri-evde-yemek-hazrlama-zeldiyetgereksinimlerine-uygun-besinlerin-salanmas-gibi-hizmetler-bu-kategoride-yer-alr-fiziksel-terapi-ve-rehabilitasyon-evde-fiziksel-terapi-ve-rehabilitasyon-hizmetleri-hareketlilik-sorunlar-olan-bireylere-egzersizler-ve-tedavi-yntemleri-ile-destek-olmay-amalar-zellikle-baz-bireyler-yaralanma-veya-hastalk-sonrasnda-gnlk-hayatlarna-nasl-dneceklerini-dair-yardma-ihtiya-duyabilirler-hastann-hem-fiziksel-hem-de-zihinsel-sal-gz-nne-alnarak-hastaya-uygun-bir-bakm-plan-hazrlanr-sosyal-destek-evde-bakm-hizmetleri-bireylerin-sosyal-balarn-srdrebilmeleri-iin-sosyal-destek-salamay-ierir-bu-destek-sosyal-aktiviteler-arkadalk-salama-ve-topluma-katlm-tevik-etme-gibi-etkinlikleri-ierebilir-bu-hizmetler-genellikle-salk-profesyonelleri-bakm-verenler-veya-zel-salk-hizmeti-salayclar-tarafndan-sunulur-xwW .bir-hastann-evde-alaca-salk-hizmetleri-yelpazesi-olduka-genitir-birey-gerekli-artlar-salad-koulda-hemen-her-konuda-bakm-hizmeti-alabilir-evde-bakm-hizmetleri-unlar-kapsar-salk-hizmetleri-evde-salk-hizmetleri-doktor-ziyaretleri-ila-takibi-yara-bakmtansiyonlm-kan-testleri-gibi-salk-kontrollerini-ierir-bir-doktor-veya-bir-hemire-bireyin-ihtiyalarn-periyodik-olarak-gzden-geirerek-buna-ynelik-bir-bakm-plan-hazrlar-kiisel-bakm-bu-hizmetler-bireylerin-temizlik-giyinme-yemek-yeme-ve-tuvalet-ihtiyalarn-karlamalarna-yardmc-olmay-ierir-ev-temizlii-evde-bakm-hizmeti-kapsamnda-ev-temizlii-amar-ykama-t-gibi-ev-ileriyle-ilgili-yardm-salanabilir-beslenme-hizmetleri-evde-yemek-hazrlama-zeldiyetgereksinimlerine-uygun-besinlerin-salanmas-gibi-hizmetler-bu-kategoride-yer-alr-fiziksel-terapi-ve-rehabilitasyon-evde-fiziksel-terapi-ve-rehabilitasyon-hizmetleri-hareketlilik-sorunlar-olan-bireylere-egzersizler-ve-tedavi-yntemleri-ile-destek-olmay-amalar-zellikle-baz-bireyler-yaralanma-veya-hastalk-sonrasnda-gnlk-hayatlarna-nasl-dneceklerini-dair-yardma-ihtiya-duyabilirler-hastann-hem-fiziksel-hem-de-zihinsel-sal-gz-nne-alnarak-hastaya-uygun-bir-bakm-plan-hazrlanr-sosyal-destek-evde-bakm-hizmetleri-bireylerin-sosyal-balarn-srdrebilmeleri-iin-sosyal-destek-salamay-ierir-bu-destek-sosyal-aktiviteler-arkadalk-salama-ve-topluma-katlm-tevik-etme-gibi-etkinlikleri-ierebilir-bu-hizmetler-genellikle-salk-profesyonelleri-bakm-verenler-veya-zel-salk-hizmeti-salayclar-tarafndan-sunulur-xwW-sub-3 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.item-2-5jz .auto-group-i4rz-tRr .auto-group-apja-paQ .bir-hastann-evde-alaca-salk-hizmetleri-yelpazesi-olduka-genitir-birey-gerekli-artlar-salad-koulda-hemen-her-konuda-bakm-hizmeti-alabilir-evde-bakm-hizmetleri-unlar-kapsar-salk-hizmetleri-evde-salk-hizmetleri-doktor-ziyaretleri-ila-takibi-yara-bakmtansiyonlm-kan-testleri-gibi-salk-kontrollerini-ierir-bir-doktor-veya-bir-hemire-bireyin-ihtiyalarn-periyodik-olarak-gzden-geirerek-buna-ynelik-bir-bakm-plan-hazrlar-kiisel-bakm-bu-hizmetler-bireylerin-temizlik-giyinme-yemek-yeme-ve-tuvalet-ihtiyalarn-karlamalarna-yardmc-olmay-ierir-ev-temizlii-evde-bakm-hizmeti-kapsamnda-ev-temizlii-amar-ykama-t-gibi-ev-ileriyle-ilgili-yardm-salanabilir-beslenme-hizmetleri-evde-yemek-hazrlama-zeldiyetgereksinimlerine-uygun-besinlerin-salanmas-gibi-hizmetler-bu-kategoride-yer-alr-fiziksel-terapi-ve-rehabilitasyon-evde-fiziksel-terapi-ve-rehabilitasyon-hizmetleri-hareketlilik-sorunlar-olan-bireylere-egzersizler-ve-tedavi-yntemleri-ile-destek-olmay-amalar-zellikle-baz-bireyler-yaralanma-veya-hastalk-sonrasnda-gnlk-hayatlarna-nasl-dneceklerini-dair-yardma-ihtiya-duyabilirler-hastann-hem-fiziksel-hem-de-zihinsel-sal-gz-nne-alnarak-hastaya-uygun-bir-bakm-plan-hazrlanr-sosyal-destek-evde-bakm-hizmetleri-bireylerin-sosyal-balarn-srdrebilmeleri-iin-sosyal-destek-salamay-ierir-bu-destek-sosyal-aktiviteler-arkadalk-salama-ve-topluma-katlm-tevik-etme-gibi-etkinlikleri-ierebilir-bu-hizmetler-genellikle-salk-profesyonelleri-bakm-verenler-veya-zel-salk-hizmeti-salayclar-tarafndan-sunulur-xwW .bir-hastann-evde-alaca-salk-hizmetleri-yelpazesi-olduka-genitir-birey-gerekli-artlar-salad-koulda-hemen-her-konuda-bakm-hizmeti-alabilir-evde-bakm-hizmetleri-unlar-kapsar-salk-hizmetleri-evde-salk-hizmetleri-doktor-ziyaretleri-ila-takibi-yara-bakmtansiyonlm-kan-testleri-gibi-salk-kontrollerini-ierir-bir-doktor-veya-bir-hemire-bireyin-ihtiyalarn-periyodik-olarak-gzden-geirerek-buna-ynelik-bir-bakm-plan-hazrlar-kiisel-bakm-bu-hizmetler-bireylerin-temizlik-giyinme-yemek-yeme-ve-tuvalet-ihtiyalarn-karlamalarna-yardmc-olmay-ierir-ev-temizlii-evde-bakm-hizmeti-kapsamnda-ev-temizlii-amar-ykama-t-gibi-ev-ileriyle-ilgili-yardm-salanabilir-beslenme-hizmetleri-evde-yemek-hazrlama-zeldiyetgereksinimlerine-uygun-besinlerin-salanmas-gibi-hizmetler-bu-kategoride-yer-alr-fiziksel-terapi-ve-rehabilitasyon-evde-fiziksel-terapi-ve-rehabilitasyon-hizmetleri-hareketlilik-sorunlar-olan-bireylere-egzersizler-ve-tedavi-yntemleri-ile-destek-olmay-amalar-zellikle-baz-bireyler-yaralanma-veya-hastalk-sonrasnda-gnlk-hayatlarna-nasl-dneceklerini-dair-yardma-ihtiya-duyabilirler-hastann-hem-fiziksel-hem-de-zihinsel-sal-gz-nne-alnarak-hastaya-uygun-bir-bakm-plan-hazrlanr-sosyal-destek-evde-bakm-hizmetleri-bireylerin-sosyal-balarn-srdrebilmeleri-iin-sosyal-destek-salamay-ierir-bu-destek-sosyal-aktiviteler-arkadalk-salama-ve-topluma-katlm-tevik-etme-gibi-etkinlikleri-ierebilir-bu-hizmetler-genellikle-salk-profesyonelleri-bakm-verenler-veya-zel-salk-hizmeti-salayclar-tarafndan-sunulur-xwW-sub-4 {
}
.item-2-5jz .auto-group-i4rz-tRr .auto-group-apja-paQ .evde-bakm-ve-destek-gnlk-yaam-aktivitelerinde-yardm-zellikle-yal-veya-sakat-bireyler-iin-yataa-baml-hastalara-destek-ila-ynetimi-ilalarn-doru-dozda-ve-zamannda-alnmasnn-salanmas-ilalarn-reeteye-uygun-bir-ekilde-kullanlmasnn-takip-edilmesi-intravenz-iv-tedaviler-iv-serum-veya-ila-uygulamalar-iv-tedavi-takibi-ve-ynetimi-yara-bakm-yara-temizlii-ve-pansuman-uygulamalar-ameliyat-sonras-yara-bakm-infzyon-tedavileri-sv-infzyonlar-ve-besin-takviyeleri-kemoterapi-veya-dier-tedavilerin-evde-uygulanmas-VrC {
  width: 31.9rem;
  height: 35.6rem;
  position: absolute;
  left: 1.3rem;
  top: 0;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
}
.item-2-5jz .auto-group-i4rz-tRr .auto-group-apja-paQ .fizik-tedavi-ve-rehabilitasyon-fizik-tedavi-egzersizleri-rehabilitasyon-srelerinin-ynetimi-kan-basnc-ve-vital-bulgularn-takibi-kan-basnc-nabz-solunum-hz-gibi-vital-bulgularn-izlenmesi-hastann-genel-salk-durumunun-takibi-laboratuvar-ve-test-takibi-evde-laboratuvar-testlerinin-alnmas-sonularn-takibi-ve-deerlendirilmesi-solunum-tedavileri-solunum-cihazlarnn-kullanm-ve-takibi-solunum-egzersizleri-ve-tedaviler-hastalk-ynetimi-ve-eitimi-kronik-hastalklarn-ynetimi-hastalk-hakknda-eitim-ve-danmanlk-KTr {
  width: 26.4rem;
  height: 28.4rem;
  position: absolute;
  left: 38.6rem;
  top: 1.8rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #390000;
  font-family: Inter, 'Source Sans Pro';
}
.item-2-5jz .auto-group-i4rz-tRr .auto-group-kwkg-8Zi {
  margin-top: 4.3rem;
  width: 61.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-2-5jz .auto-group-i4rz-tRr .auto-group-kwkg-8Zi .ite-evde-salk-hizmetlerinin-salad-kolaylklar-konfor-ve-rahatlk-evde-salk-hizmetleri-hastalarn-kendi-evlerinde-tedavi-grmelerine-olanak-tanr-bu-durum-hastalarn-aileleri-ve-kiisel-eyalar-ile-evrili-olmalarn-salar-bu-da-psikolojik-olarak-olumlu-bir-etki-yapabilir-kiiye-zel-hizmet-evde-salk-hizmetleri-bireylere-daha-kiiselletirilmi-ve-zel-bir-bakm-sunma-frsat-verir-salk-profesyonelleri-hastalarn-bireysel-ihtiyalarna-uygun-bir-ekilde-tedavi-planlar-oluturabilir-aile-ile-birlikte-olma-imkan-evde-salk-hizmetleri-hasta-bireyin-ailesi-ve-sevdikleri-ile-bir-arada-olmalarn-salar-bu-sosyal-destek-ve-moral-asndan-nemlidir-hastane-infeksiyonlarndan-kanma-evde-tedavi-hastane-ortamlarndaki-enfeksiyon-riskini-azaltr-hastalar-kendi-evlerinde-daha-kontroll-bir-evrede-bulunduklar-iin-enfeksiyon-riski-daha-dktr-zaman-tasarrufu-evde-salk-hizmetleri-hastaneye-gitme-bekleme-sreleri-gibi-zaman-kaybn-nler-bu-hem-hasta-bireyin-hem-de-bakm-verenlerin-zamann-daha-etkili-bir-ekilde-kullanmalarn-salar-mobil-salk-teknolojileri-mobil-salk-uygulamalar-ve-telemedicine-gibi-teknolojiler-evde-salk-hizmetlerini-daha-eriilebilir-klar-uzaktan-salk-takibi-ve-online-konsltasyonlar-hastalarn-salk-durumlarn-ynetmelerine-yardmc-olabilir-rehabilitasyon-hizmetleri-evde-rehabilitasyon-hizmetleri-hasta-bireylerin-kendi-evlerinde-fizik-tedavi-veya-dier-rehabilitasyon-hizmetlerini-alma-imkan-sunar-uzun-sreli-bakm-evde-salk-hizmetleri-kronik-hastalklara-sahip-bireylere-uzun-vadeli-bakm-sunabilir-bu-hastalarn-srekli-kontrol-altnda-olmalarn-ve-daha-iyi-yaam-kalitelerini-srdrmelerini-salar-evde-salk-hizmetleri-salk-hizmetlerini-daha-eriilebilir-ve-kiiselletirilmi-klarak-hastalarn-daha-iyi-bir-salk-deneyimi-yaamalarna-yardmc-olur-bu-hizmetler-zellikle-yal-bireyler-veya-kronik-hastalklar-olan-kiiler-iin-nemli-bir-destek-salar-4yA {
  margin-bottom: 6.2rem;
  width: 100%;
  height: 46.2rem;
  overflow: hidden;
  position: relative;
  border: dashed 1.1rem #030000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.2rem);
  background-color: #998c8c;
  flex-shrink: 0;
}
.item-2-5jz .auto-group-i4rz-tRr .auto-group-kwkg-8Zi .ite-evde-salk-hizmetlerinin-salad-kolaylklar-konfor-ve-rahatlk-evde-salk-hizmetleri-hastalarn-kendi-evlerinde-tedavi-grmelerine-olanak-tanr-bu-durum-hastalarn-aileleri-ve-kiisel-eyalar-ile-evrili-olmalarn-salar-bu-da-psikolojik-olarak-olumlu-bir-etki-yapabilir-kiiye-zel-hizmet-evde-salk-hizmetleri-bireylere-daha-kiiselletirilmi-ve-zel-bir-bakm-sunma-frsat-verir-salk-profesyonelleri-hastalarn-bireysel-ihtiyalarna-uygun-bir-ekilde-tedavi-planlar-oluturabilir-aile-ile-birlikte-olma-imkan-evde-salk-hizmetleri-hasta-bireyin-ailesi-ve-sevdikleri-ile-bir-arada-olmalarn-salar-bu-sosyal-destek-ve-moral-asndan-nemlidir-hastane-infeksiyonlarndan-kanma-evde-tedavi-hastane-ortamlarndaki-enfeksiyon-riskini-azaltr-hastalar-kendi-evlerinde-daha-kontroll-bir-evrede-bulunduklar-iin-enfeksiyon-riski-daha-dktr-zaman-tasarrufu-evde-salk-hizmetleri-hastaneye-gitme-bekleme-sreleri-gibi-zaman-kaybn-nler-bu-hem-hasta-bireyin-hem-de-bakm-verenlerin-zamann-daha-etkili-bir-ekilde-kullanmalarn-salar-mobil-salk-teknolojileri-mobil-salk-uygulamalar-ve-telemedicine-gibi-teknolojiler-evde-salk-hizmetlerini-daha-eriilebilir-klar-uzaktan-salk-takibi-ve-online-konsltasyonlar-hastalarn-salk-durumlarn-ynetmelerine-yardmc-olabilir-rehabilitasyon-hizmetleri-evde-rehabilitasyon-hizmetleri-hasta-bireylerin-kendi-evlerinde-fizik-tedavi-veya-dier-rehabilitasyon-hizmetlerini-alma-imkan-sunar-uzun-sreli-bakm-evde-salk-hizmetleri-kronik-hastalklara-sahip-bireylere-uzun-vadeli-bakm-sunabilir-bu-hastalarn-srekli-kontrol-altnda-olmalarn-ve-daha-iyi-yaam-kalitelerini-srdrmelerini-salar-evde-salk-hizmetleri-salk-hizmetlerini-daha-eriilebilir-ve-kiiselletirilmi-klarak-hastalarn-daha-iyi-bir-salk-deneyimi-yaamalarna-yardmc-olur-bu-hizmetler-zellikle-yal-bireyler-veya-kronik-hastalklar-olan-kiiler-iin-nemli-bir-destek-salar-4yA .ite-evde-salk-hizmetlerinin-salad-kolaylklar-konfor-ve-rahatlk-evde-salk-hizmetleri-hastalarn-kendi-evlerinde-tedavi-grmelerine-olanak-tanr-bu-durum-hastalarn-aileleri-ve-kiisel-eyalar-ile-evrili-olmalarn-salar-bu-da-psikolojik-olarak-olumlu-bir-etki-yapabilir-kiiye-zel-hizmet-evde-salk-hizmetleri-bireylere-daha-kiiselletirilmi-ve-zel-bir-bakm-sunma-frsat-verir-salk-profesyonelleri-hastalarn-bireysel-ihtiyalarna-uygun-bir-ekilde-tedavi-planlar-oluturabilir-aile-ile-birlikte-olma-imkan-evde-salk-hizmetleri-hasta-bireyin-ailesi-ve-sevdikleri-ile-bir-arada-olmalarn-salar-bu-sosyal-destek-ve-moral-asndan-nemlidir-hastane-infeksiyonlarndan-kanma-evde-tedavi-hastane-ortamlarndaki-enfeksiyon-riskini-azaltr-hastalar-kendi-evlerinde-daha-kontroll-bir-evrede-bulunduklar-iin-enfeksiyon-riski-daha-dktr-zaman-tasarrufu-evde-salk-hizmetleri-hastaneye-gitme-bekleme-sreleri-gibi-zaman-kaybn-nler-bu-hem-hasta-bireyin-hem-de-bakm-verenlerin-zamann-daha-etkili-bir-ekilde-kullanmalarn-salar-mobil-salk-teknolojileri-mobil-salk-uygulamalar-ve-telemedicine-gibi-teknolojiler-evde-salk-hizmetlerini-daha-eriilebilir-klar-uzaktan-salk-takibi-ve-online-konsltasyonlar-hastalarn-salk-durumlarn-ynetmelerine-yardmc-olabilir-rehabilitasyon-hizmetleri-evde-rehabilitasyon-hizmetleri-hasta-bireylerin-kendi-evlerinde-fizik-tedavi-veya-dier-rehabilitasyon-hizmetlerini-alma-imkan-sunar-uzun-sreli-bakm-evde-salk-hizmetleri-kronik-hastalklara-sahip-bireylere-uzun-vadeli-bakm-sunabilir-bu-hastalarn-srekli-kontrol-altnda-olmalarn-ve-daha-iyi-yaam-kalitelerini-srdrmelerini-salar-evde-salk-hizmetleri-salk-hizmetlerini-daha-eriilebilir-ve-kiiselletirilmi-klarak-hastalarn-daha-iyi-bir-salk-deneyimi-yaamalarna-yardmc-olur-bu-hizmetler-zellikle-yal-bireyler-veya-kronik-hastalklar-olan-kiiler-iin-nemli-bir-destek-salar-4vY {
  max-width: 61.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.1975;
  color: #991515;
  font-family: Inria Serif, 'Source Sans Pro';
}
.item-2-5jz .auto-group-i4rz-tRr .auto-group-kwkg-8Zi .evde-bakim-ucreti-2023-1-arG {
  margin-left: 7.1rem;
  width: 31.1rem;
  height: 24.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item-2-5jz .evde-salk-hizmetleri-bireylerin-rahatlar-iinde-salk-ihtiyalarn-karlamalarna-ynelik-bir-dizi-hizmet-sunar-bu-hizmetler-genellikle-bir-salk-profesyoneli-tarafndan-veya-eitim-alm-bakm-salayclar-tarafndan-yrtlr-ite-evde-salk-hizmetleri-kapsamnda-yaplabilecek-baz-salk-ilemleri--sqN {
  margin-left: 3.4rem;
  max-width: 92.2rem;
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
