
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item-4-N3v {
  box-sizing: border-box;
  padding: 0rem 0rem 0.9rem 0.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #da3131;
}
.item-4-N3v .auto-group-4pxl-t2G {
  margin-bottom: 3.1rem;
  width: 144rem;
  height: 56.3rem;
  position: relative;
  flex-shrink: 0;
}
.item-4-N3v .auto-group-4pxl-t2G .cretsiz-salik-kontrolleri-kampanyasi-salnz-bizim-iin-nemli-bu-ay-boyunca-sizlere-zel-olarak-dzenlediimiz-cretsiz-salk-kontrolleri-kampanyasna-davetlisiniz-kan-basnc-lmleri-eker-kontrol-ve-temel-salk-taramalarn-cretsiz-olarak-sunuyoruz-salkl-bir-yaam-iin-adm-atn-sizleri-aramzda-grmekten-mutluluk-duyarz-kampanya-detaylar-tarih-belirli-tarih-aral-saat-24-saat-yer-cumhuriyet-mah-atatrk-sokak-no-81-daire-34-randevu-almak-iin-05333857596-salnza-deer-veriyoruz-sizi-bekliyoruz--28U {
  width: 48.2rem;
  height: 50rem;
  position: absolute;
  left: 10.6rem;
  top: 6.3rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.item-4-N3v .auto-group-4pxl-t2G .cretsiz-salik-kontrolleri-kampanyasi-salnz-bizim-iin-nemli-bu-ay-boyunca-sizlere-zel-olarak-dzenlediimiz-cretsiz-salk-kontrolleri-kampanyasna-davetlisiniz-kan-basnc-lmleri-eker-kontrol-ve-temel-salk-taramalarn-cretsiz-olarak-sunuyoruz-salkl-bir-yaam-iin-adm-atn-sizleri-aramzda-grmekten-mutluluk-duyarz-kampanya-detaylar-tarih-belirli-tarih-aral-saat-24-saat-yer-cumhuriyet-mah-atatrk-sokak-no-81-daire-34-randevu-almak-iin-05333857596-salnza-deer-veriyoruz-sizi-bekliyoruz--28U .cretsiz-salik-kontrolleri-kampanyasi-salnz-bizim-iin-nemli-bu-ay-boyunca-sizlere-zel-olarak-dzenlediimiz-cretsiz-salk-kontrolleri-kampanyasna-davetlisiniz-kan-basnc-lmleri-eker-kontrol-ve-temel-salk-taramalarn-cretsiz-olarak-sunuyoruz-salkl-bir-yaam-iin-adm-atn-sizleri-aramzda-grmekten-mutluluk-duyarz-kampanya-detaylar-tarih-belirli-tarih-aral-saat-24-saat-yer-cumhuriyet-mah-atatrk-sokak-no-81-daire-34-randevu-almak-iin-05333857596-salnza-deer-veriyoruz-sizi-bekliyoruz--28U-sub-0 {
}
.item-4-N3v .auto-group-4pxl-t2G .cretsiz-salik-kontrolleri-kampanyasi-salnz-bizim-iin-nemli-bu-ay-boyunca-sizlere-zel-olarak-dzenlediimiz-cretsiz-salk-kontrolleri-kampanyasna-davetlisiniz-kan-basnc-lmleri-eker-kontrol-ve-temel-salk-taramalarn-cretsiz-olarak-sunuyoruz-salkl-bir-yaam-iin-adm-atn-sizleri-aramzda-grmekten-mutluluk-duyarz-kampanya-detaylar-tarih-belirli-tarih-aral-saat-24-saat-yer-cumhuriyet-mah-atatrk-sokak-no-81-daire-34-randevu-almak-iin-05333857596-salnza-deer-veriyoruz-sizi-bekliyoruz--28U .cretsiz-salik-kontrolleri-kampanyasi-salnz-bizim-iin-nemli-bu-ay-boyunca-sizlere-zel-olarak-dzenlediimiz-cretsiz-salk-kontrolleri-kampanyasna-davetlisiniz-kan-basnc-lmleri-eker-kontrol-ve-temel-salk-taramalarn-cretsiz-olarak-sunuyoruz-salkl-bir-yaam-iin-adm-atn-sizleri-aramzda-grmekten-mutluluk-duyarz-kampanya-detaylar-tarih-belirli-tarih-aral-saat-24-saat-yer-cumhuriyet-mah-atatrk-sokak-no-81-daire-34-randevu-almak-iin-05333857596-salnza-deer-veriyoruz-sizi-bekliyoruz--28U-sub-1 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.item-4-N3v .auto-group-4pxl-t2G .cretsiz-salik-kontrolleri-kampanyasi-salnz-bizim-iin-nemli-bu-ay-boyunca-sizlere-zel-olarak-dzenlediimiz-cretsiz-salk-kontrolleri-kampanyasna-davetlisiniz-kan-basnc-lmleri-eker-kontrol-ve-temel-salk-taramalarn-cretsiz-olarak-sunuyoruz-salkl-bir-yaam-iin-adm-atn-sizleri-aramzda-grmekten-mutluluk-duyarz-kampanya-detaylar-tarih-belirli-tarih-aral-saat-24-saat-yer-cumhuriyet-mah-atatrk-sokak-no-81-daire-34-randevu-almak-iin-05333857596-salnza-deer-veriyoruz-sizi-bekliyoruz--28U .cretsiz-salik-kontrolleri-kampanyasi-salnz-bizim-iin-nemli-bu-ay-boyunca-sizlere-zel-olarak-dzenlediimiz-cretsiz-salk-kontrolleri-kampanyasna-davetlisiniz-kan-basnc-lmleri-eker-kontrol-ve-temel-salk-taramalarn-cretsiz-olarak-sunuyoruz-salkl-bir-yaam-iin-adm-atn-sizleri-aramzda-grmekten-mutluluk-duyarz-kampanya-detaylar-tarih-belirli-tarih-aral-saat-24-saat-yer-cumhuriyet-mah-atatrk-sokak-no-81-daire-34-randevu-almak-iin-05333857596-salnza-deer-veriyoruz-sizi-bekliyoruz--28U-sub-2 {
  font-size: 2rem;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.item-4-N3v .auto-group-4pxl-t2G .cretsiz-salik-kontrolleri-kampanyasi-salnz-bizim-iin-nemli-bu-ay-boyunca-sizlere-zel-olarak-dzenlediimiz-cretsiz-salk-kontrolleri-kampanyasna-davetlisiniz-kan-basnc-lmleri-eker-kontrol-ve-temel-salk-taramalarn-cretsiz-olarak-sunuyoruz-salkl-bir-yaam-iin-adm-atn-sizleri-aramzda-grmekten-mutluluk-duyarz-kampanya-detaylar-tarih-belirli-tarih-aral-saat-24-saat-yer-cumhuriyet-mah-atatrk-sokak-no-81-daire-34-randevu-almak-iin-05333857596-salnza-deer-veriyoruz-sizi-bekliyoruz--28U .cretsiz-salik-kontrolleri-kampanyasi-salnz-bizim-iin-nemli-bu-ay-boyunca-sizlere-zel-olarak-dzenlediimiz-cretsiz-salk-kontrolleri-kampanyasna-davetlisiniz-kan-basnc-lmleri-eker-kontrol-ve-temel-salk-taramalarn-cretsiz-olarak-sunuyoruz-salkl-bir-yaam-iin-adm-atn-sizleri-aramzda-grmekten-mutluluk-duyarz-kampanya-detaylar-tarih-belirli-tarih-aral-saat-24-saat-yer-cumhuriyet-mah-atatrk-sokak-no-81-daire-34-randevu-almak-iin-05333857596-salnza-deer-veriyoruz-sizi-bekliyoruz--28U-sub-3 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.item-4-N3v .auto-group-4pxl-t2G .evde-salik-hizmetlerinde-20-indirim-kampanyasi-sizlere-daha-iyi-hizmet-verebilmek-adna-evde-salk-hizmetlerimizde-20-indirim-frsat-sunuyoruz-online-randevu-alarak-veya-bizimle-iletiime-geerek-bu-avantajl-kampanyadan-yararlanabilirsiniz-uzman-kadromuzla-size-zel-salk-planlar-oluturmak-iin-hazrz-kampanya-koullar-indirimden-faydalanmak-iin-01072024-iinde-randevu-alnmaldr-indirim-sadece-belirli-salk-hizmetleri-iin-geerlidir-iletiim-ve-randevu-05333857596-salnza-deer-veren-bir-ekiple-tann--s6U {
  width: 52.4rem;
  height: 41.3rem;
  position: absolute;
  left: 82.85rem;
  top: 9.4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.item-4-N3v .auto-group-4pxl-t2G .evde-salik-hizmetlerinde-20-indirim-kampanyasi-sizlere-daha-iyi-hizmet-verebilmek-adna-evde-salk-hizmetlerimizde-20-indirim-frsat-sunuyoruz-online-randevu-alarak-veya-bizimle-iletiime-geerek-bu-avantajl-kampanyadan-yararlanabilirsiniz-uzman-kadromuzla-size-zel-salk-planlar-oluturmak-iin-hazrz-kampanya-koullar-indirimden-faydalanmak-iin-01072024-iinde-randevu-alnmaldr-indirim-sadece-belirli-salk-hizmetleri-iin-geerlidir-iletiim-ve-randevu-05333857596-salnza-deer-veren-bir-ekiple-tann--s6U .evde-salik-hizmetlerinde-20-indirim-kampanyasi-sizlere-daha-iyi-hizmet-verebilmek-adna-evde-salk-hizmetlerimizde-20-indirim-frsat-sunuyoruz-online-randevu-alarak-veya-bizimle-iletiime-geerek-bu-avantajl-kampanyadan-yararlanabilirsiniz-uzman-kadromuzla-size-zel-salk-planlar-oluturmak-iin-hazrz-kampanya-koullar-indirimden-faydalanmak-iin-01072024-iinde-randevu-alnmaldr-indirim-sadece-belirli-salk-hizmetleri-iin-geerlidir-iletiim-ve-randevu-05333857596-salnza-deer-veren-bir-ekiple-tann--s6U-sub-0 {
}
.item-4-N3v .auto-group-4pxl-t2G .evde-salik-hizmetlerinde-20-indirim-kampanyasi-sizlere-daha-iyi-hizmet-verebilmek-adna-evde-salk-hizmetlerimizde-20-indirim-frsat-sunuyoruz-online-randevu-alarak-veya-bizimle-iletiime-geerek-bu-avantajl-kampanyadan-yararlanabilirsiniz-uzman-kadromuzla-size-zel-salk-planlar-oluturmak-iin-hazrz-kampanya-koullar-indirimden-faydalanmak-iin-01072024-iinde-randevu-alnmaldr-indirim-sadece-belirli-salk-hizmetleri-iin-geerlidir-iletiim-ve-randevu-05333857596-salnza-deer-veren-bir-ekiple-tann--s6U .evde-salik-hizmetlerinde-20-indirim-kampanyasi-sizlere-daha-iyi-hizmet-verebilmek-adna-evde-salk-hizmetlerimizde-20-indirim-frsat-sunuyoruz-online-randevu-alarak-veya-bizimle-iletiime-geerek-bu-avantajl-kampanyadan-yararlanabilirsiniz-uzman-kadromuzla-size-zel-salk-planlar-oluturmak-iin-hazrz-kampanya-koullar-indirimden-faydalanmak-iin-01072024-iinde-randevu-alnmaldr-indirim-sadece-belirli-salk-hizmetleri-iin-geerlidir-iletiim-ve-randevu-05333857596-salnza-deer-veren-bir-ekiple-tann--s6U-sub-1 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  font-style: italic;
  color: #ebebeb;
  font-family: Inter, 'Source Sans Pro';
}
.item-4-N3v .auto-group-4pxl-t2G .evde-salik-hizmetlerinde-20-indirim-kampanyasi-sizlere-daha-iyi-hizmet-verebilmek-adna-evde-salk-hizmetlerimizde-20-indirim-frsat-sunuyoruz-online-randevu-alarak-veya-bizimle-iletiime-geerek-bu-avantajl-kampanyadan-yararlanabilirsiniz-uzman-kadromuzla-size-zel-salk-planlar-oluturmak-iin-hazrz-kampanya-koullar-indirimden-faydalanmak-iin-01072024-iinde-randevu-alnmaldr-indirim-sadece-belirli-salk-hizmetleri-iin-geerlidir-iletiim-ve-randevu-05333857596-salnza-deer-veren-bir-ekiple-tann--s6U .evde-salik-hizmetlerinde-20-indirim-kampanyasi-sizlere-daha-iyi-hizmet-verebilmek-adna-evde-salk-hizmetlerimizde-20-indirim-frsat-sunuyoruz-online-randevu-alarak-veya-bizimle-iletiime-geerek-bu-avantajl-kampanyadan-yararlanabilirsiniz-uzman-kadromuzla-size-zel-salk-planlar-oluturmak-iin-hazrz-kampanya-koullar-indirimden-faydalanmak-iin-01072024-iinde-randevu-alnmaldr-indirim-sadece-belirli-salk-hizmetleri-iin-geerlidir-iletiim-ve-randevu-05333857596-salnza-deer-veren-bir-ekiple-tann--s6U-sub-2 {
  font-size: 2rem;
  line-height: 1.2125;
  font-style: italic;
  color: #ebebeb;
  font-family: Inter, 'Source Sans Pro';
}
.item-4-N3v .auto-group-4pxl-t2G .evde-salik-hizmetlerinde-20-indirim-kampanyasi-sizlere-daha-iyi-hizmet-verebilmek-adna-evde-salk-hizmetlerimizde-20-indirim-frsat-sunuyoruz-online-randevu-alarak-veya-bizimle-iletiime-geerek-bu-avantajl-kampanyadan-yararlanabilirsiniz-uzman-kadromuzla-size-zel-salk-planlar-oluturmak-iin-hazrz-kampanya-koullar-indirimden-faydalanmak-iin-01072024-iinde-randevu-alnmaldr-indirim-sadece-belirli-salk-hizmetleri-iin-geerlidir-iletiim-ve-randevu-05333857596-salnza-deer-veren-bir-ekiple-tann--s6U .evde-salik-hizmetlerinde-20-indirim-kampanyasi-sizlere-daha-iyi-hizmet-verebilmek-adna-evde-salk-hizmetlerimizde-20-indirim-frsat-sunuyoruz-online-randevu-alarak-veya-bizimle-iletiime-geerek-bu-avantajl-kampanyadan-yararlanabilirsiniz-uzman-kadromuzla-size-zel-salk-planlar-oluturmak-iin-hazrz-kampanya-koullar-indirimden-faydalanmak-iin-01072024-iinde-randevu-alnmaldr-indirim-sadece-belirli-salk-hizmetleri-iin-geerlidir-iletiim-ve-randevu-05333857596-salnza-deer-veren-bir-ekiple-tann--s6U-sub-3 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  font-style: italic;
  color: #ebebeb;
  font-family: Inter, 'Source Sans Pro';
}
.item-4-N3v .auto-group-4pxl-t2G .evde-salik-hizmetlerinde-20-indirim-kampanyasi-sizlere-daha-iyi-hizmet-verebilmek-adna-evde-salk-hizmetlerimizde-20-indirim-frsat-sunuyoruz-online-randevu-alarak-veya-bizimle-iletiime-geerek-bu-avantajl-kampanyadan-yararlanabilirsiniz-uzman-kadromuzla-size-zel-salk-planlar-oluturmak-iin-hazrz-kampanya-koullar-indirimden-faydalanmak-iin-01072024-iinde-randevu-alnmaldr-indirim-sadece-belirli-salk-hizmetleri-iin-geerlidir-iletiim-ve-randevu-05333857596-salnza-deer-veren-bir-ekiple-tann--s6U .evde-salik-hizmetlerinde-20-indirim-kampanyasi-sizlere-daha-iyi-hizmet-verebilmek-adna-evde-salk-hizmetlerimizde-20-indirim-frsat-sunuyoruz-online-randevu-alarak-veya-bizimle-iletiime-geerek-bu-avantajl-kampanyadan-yararlanabilirsiniz-uzman-kadromuzla-size-zel-salk-planlar-oluturmak-iin-hazrz-kampanya-koullar-indirimden-faydalanmak-iin-01072024-iinde-randevu-alnmaldr-indirim-sadece-belirli-salk-hizmetleri-iin-geerlidir-iletiim-ve-randevu-05333857596-salnza-deer-veren-bir-ekiple-tann--s6U-sub-4 {
}
.item-4-N3v .auto-group-4pxl-t2G .star-1-q96 {
  width: 5.8rem;
  height: 5.2rem;
  position: absolute;
  left: 71.9rem;
  top: 27.7rem;
  object-fit: contain;
  vertical-align: top;
}
.item-4-N3v .auto-group-4pxl-t2G .topbar-ASG {
  box-sizing: border-box;
  padding: 0rem 1.4rem 0rem 6.7rem;
  width: 144rem;
  height: 9.7rem;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: solid 0.5rem #000000;
}
.item-4-N3v .auto-group-4pxl-t2G .topbar-ASG .auto-group-72hi-5JL {
  width: 100%;
  height: 8.7rem;
  display: flex;
  align-items: flex-end;
}
.item-4-N3v .auto-group-4pxl-t2G .topbar-ASG .auto-group-72hi-5JL .n-2-1Bz {
  margin: 0rem 32.4rem 0.1rem 0rem;
  width: 9.9rem;
  height: 8.6rem;
  position: relative;
  background-size: 100% 115.116%;
  background-position: 0 -0.65rem;
  background-image: url('../assets/n-2-nCC.png');
  flex-shrink: 0;
}
.item-4-N3v .auto-group-4pxl-t2G .topbar-ASG .auto-group-72hi-5JL .auto-group-kvwz-TZn {
  margin-right: 2.7rem;
  box-sizing: border-box;
  padding: 0.9rem 2.75rem;
  height: 6.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: JejuHallasan, 'Source Sans Pro';
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-17-rAp.png');
  flex-shrink: 0;
}
.item-4-N3v .auto-group-4pxl-t2G .topbar-ASG .auto-group-72hi-5JL .auto-group-ofgg-X3r {
  margin-right: 3.4rem;
  box-sizing: border-box;
  padding: 0.9rem 1.5rem 0.3rem 3rem;
  width: 13rem;
  height: 6.3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-18.png');
  flex-shrink: 0;
}
.item-4-N3v .auto-group-4pxl-t2G .topbar-ASG .auto-group-72hi-5JL .auto-group-ofgg-X3r .hizmetlerimiz-qKS {
  max-width: 8.5rem;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: JejuHallasan, 'Source Sans Pro';
}
.item-4-N3v .auto-group-4pxl-t2G .topbar-ASG .auto-group-72hi-5JL .auto-group-sbk8-Xi4 {
  margin-right: 3.4rem;
  box-sizing: border-box;
  padding: 0.9rem 3.4rem 1.3rem 2.8rem;
  width: 13rem;
  height: 6.3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-19.png');
  flex-shrink: 0;
}
.item-4-N3v .auto-group-4pxl-t2G .topbar-ASG .auto-group-72hi-5JL .auto-group-sbk8-Xi4 .uzman-kadromuz-F8G {
  max-width: 6.8rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: JejuHallasan, 'Source Sans Pro';
}
.item-4-N3v .auto-group-4pxl-t2G .topbar-ASG .auto-group-72hi-5JL .auto-group-zxag-MBJ {
  margin-right: 2.7rem;
  box-sizing: border-box;
  padding: 0 2.65rem;
  height: 6.3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-20.png');
  flex-shrink: 0;
}
.item-4-N3v .auto-group-4pxl-t2G .topbar-ASG .auto-group-72hi-5JL .auto-group-zxag-MBJ .zel-kampanyalar-Hqe {
  max-width: 7.7rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: JejuHallasan, 'Source Sans Pro';
}
.item-4-N3v .auto-group-4pxl-t2G .topbar-ASG .auto-group-72hi-5JL .auto-group-2ipk-brL {
  margin-right: 3.4rem;
  box-sizing: border-box;
  padding: 0.9rem 2.1rem 0.9rem 2.6rem;
  height: 6.3rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: JejuHallasan, 'Source Sans Pro';
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-21.png');
  flex-shrink: 0;
}
.item-4-N3v .auto-group-4pxl-t2G .topbar-ASG .auto-group-72hi-5JL .auto-group-ngma-g76 {
  box-sizing: border-box;
  padding: 0.9rem 2.85rem 0.9rem 3.75rem;
  height: 6.3rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: JejuHallasan, 'Source Sans Pro';
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-22.png');
  flex-shrink: 0;
}
.item-4-N3v .auto-group-dcoe-ipU {
  margin: 0rem 13.5rem 1.1rem 13.4rem;
  width: calc(100% - 26.9rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.item-4-N3v .auto-group-dcoe-ipU .evdesaglk2-1-rQt {
  margin-right: 19.3rem;
  width: 49.4rem;
  height: 34.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 11rem;
  flex-shrink: 0;
}
.item-4-N3v .auto-group-dcoe-ipU .evdesaglk-1-mGx {
  width: 48.3rem;
  height: 34.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 7.2rem;
  flex-shrink: 0;
}
.item-4-N3v .auto-group-pmak-Vik {
  margin: 0rem 38.5rem 0rem 48.4rem;
  box-sizing: border-box;
  padding: 1.2rem 1.65rem 2.4rem 5.25rem;
  width: calc(100% - 86.9rem);
  text-align: center;
  font-size: 2rem;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  border: solid 0.1rem #0a0202;
  filter: blur(0.2rem);
  background: linear-gradient(180deg, #148fd4 -0%, rgba(77, 105, 121, 0) 100%);
  flex-shrink: 0;
}
.item-4-N3v .auto-group-pmak-Vik .auto-group-pmak-Vik-sub-0 {
  font-size: 1.6rem;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.item-4-N3v .auto-group-pmak-Vik .auto-group-pmak-Vik-sub-1 {
}
